*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
	background-image: url('../images/bg.jpg');
}

.container{
	max-width: 1000px;
	width: 100%;
	margin: auto;
	/*display: flex;*/
	/*flex-direction: column;*/
}


h1{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 80px;
	text-transform: capitalize;
	color: #FFF
}

.formDiv{
	/*justify-content: center;*/
	text-align: center;
	width:70%;
	/*display: inline-block;*/
	margin-left: 165px;
	padding: 60px 0;
    background: rgba(125, 63, 152, 0.52);
    border-radius: 7px

}


 .login,
 .signup{
	width: 28%;
	padding: 15px 0;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	border: none;
	color: #FFF;
	border-radius: 7px
}
 .signup{
	margin-left: 10px;
	background-color: #d52685;
}
.login{
	background-color: #1AB188
}

.username input,
.password input,
.confirm input{
	padding: 12px 0 12px 5px;
	width: 58%;
	font-size: 18px;
	border-radius: 7px;
}
.sign{
	font-size: 45px;
	margin-top: 60px
}

/*start not found page*/

.allPage {
    background: #081421;
    color: #d3d7de;
    font-family: "Courier new";
    font-size: 18px;
    line-height: 1.5em;
    cursor: default;
}

.code-area {
    position: absolute;
    padding: 2%;
    width: 320px;
    min-width: 320px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#home {
    color: white;
    text-decoration: none
}

#home:hover {
    color: #1abc9c;
}

.code-area>span {
    display: block;
}
/*end not found page*/

